<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" href="style.css">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
	<header>
		<a id="login-link"></a>
	</header>
	<div id="main-content">
	</div>
	<div id="hidden-content">
	</div>
</body>
<script src="mustache.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="jquery.hashroute.js"></script>
<script src="script.js"></script>
<script id="login" type="x-tmpl-mustache">
	<form id="loginform">
		<input id='username' type='text' placeholder='username' name='username'>
		<input id='password' type='password' placeholder='password' name='password'>
		<input id='login-button' type='submit' value='go'>
	</form>
</script>

<script id="home" type="x-tmpl-mustache">
	<h3 id="title">Welcome to ChessNut</h3>
</script>

<script id="register" type="x-tmpl-mustache">
	<h3 id="title">Register</h3>
	<form id="registrationform">
		<input id='username' type='text' placeholder='username' name='username'>
		<input id='password' type='password' placeholder='password' name='password'>
		<input id='rating' type='number' placeholder='rating' name='rating'>
		<input id='description' type='text' placeholder='description' name='description'>
		<input id='register-button' type='submit' value='sign up'>
	</form>
</script>

<script id="update" type="x-tmpl-mustache">
	<form id="gameform">
		<input id='white' type='text' placeholder='white' name='white'>
		<input id='black' type='text' placeholder='black' name='black'>
		<select id='gameresult'>
			<option value='w'>White wins</option>
			<option value='b'>Black wins</option>
			<option value='d'>Draw</option>
		</select>
		<input id='gamebutton' type='submit' value='sign up'>
	</form>
</script>
</html>