form(id='loginform')
	input(id='username' type='text' placeholder='username' name='username')
	input(id='password' type='password' placeholder='password' name='password')
	input(id='login-button' type='button' value='go')