@import url('https://fonts.googleapis.com/css?family=Lato');

/*general */
html {
	font-family: 'Lato', sans-serif;
	font-size: 1.1em;
}


h3 {
	font-size: 140%;
}

/* main content */
.content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 768px;
}

/* buttons */
#edit-button {
    margin-top: 1em;
    float: right;
}

/*grids*/
.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, button, input, select, textarea,
    .pure-g [class *= 'pure-u'] {
        font-family: 'Lato', sans-serif;
}

.l-box {
	padding-right: 0.5em;
}

.grid {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

/* pure menu */
.custom-wrapper {
  background-color: #000;
  margin-bottom: 1em;
  -webkit-font-smoothing: antialiased;
  height: 2.1em;
  overflow: hidden;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  transition: height 0.5s;
}

#menu .pure-menu-link,
#menu .pure-menu-heading {
  color: white;
}

#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
        background: #3c3e3f;
    }

.custom-wrapper.open {
  height: 14em;
}

.custom-menu-3 {
  text-align: right;
}

.custom-toggle {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.custom-toggle .bar {
  background-color: white;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 100px;
  position: absolute;
  top: 18px;
  right: 7px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.custom-toggle .bar:first-child {
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
}

.custom-toggle.x .bar {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media (max-width: 47.999em) {

  .custom-menu-3 {
	  text-align: left;
  }

  .custom-toggle {
	  display: block;
  }

}


/* Alerts */
.pure-alert {
    position: relative;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 1em;
    background: #ccc;
    border-radius: 3px;
}

.pure-alert label {
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */
    *zoom: 1;
    white-space: nowrap;
}

.pure-alert {
    background-color: rgb(209, 235, 238);
    color: rgb(102, 131, 145);
}
.pure-alert-error {
    background-color: #D13C38;
    color: #fff;
}

.pure-alert-warning {
    background-color: rgb(250, 191, 103);
    color: rgb(151, 96, 13);
}

.pure-alert-success {
    background-color: rgb(83, 180, 79);
    color: #fff;
}
